*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: "open sans", sans-serif;
}

nav{

	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}
nav>ul{

	list-style-type: none;
}

nav .nav, nav .nav-logo{
margin: 5ream;
display: inline;


}
.div1{

	height: 100px;
	width: 100px;
	display: block;
}
.div2{
	height: 100px;
	width: 100px;
	display: block;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3 rem;
	text-align: center;

}
#intro h2, #intro p{

	margin-bottom: 1rem;
}

#intro button{
color: whites;
font-weight: gold;
background-color: #c2395b;
padding: 1rem;
font-size: 1rem;
border-radius: 25px;
}

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	text-align: center;	
}
#info>h2{
	margin-bottom: 1rem;

}
		
#info>div{
border-radius: 1px solid black;
display: inline-block;
vertical-align: top;
width: 30%;
margin-left: .5rem;
margin-right: .5rem;
min-height: 150px;
padding: 5px;


}
.card{
border: 2px solid black;

}
ul .line{
	    display: inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background-color: deepskyblue; 
	}